@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,305;1,305&display=swap');

body{
     display: flex;
     justify-content: center;
     min-height: 100vh;
     align-items: start;
     font-family: 'roboto' !important;
}



     .custom-button{
          margin-top: 120px;
          content: "";
          position: absolute;
          top: 0;
          justify-self: center;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 20px;
          width: 80px;
          height: 40px;
          background-color: rgb(205, 205, 205);
          border: solid 1px gray;
          transition: .4s;
        }

     .custom-button:before {
          content: "" ;
          position: absolute;
          height: 32px;
          width: 32px;
          background-color: white;
          box-shadow: 1px 0 9px 1px  rgba(0, 0, 0, 0.342) !important;
          border-radius: 20px;
          left: 4px;
          bottom: 3px;
          transition: .4s cubic-bezier(0.4, 0.0, 0.2, 1); 
          right: 0;
          border: solid 1px grey;

        }

        

     input:checked + .custom-button {
          background-color: red;
        }

input:checked + .custom-button:before {
            transform: translateX(40px); /* Move circle to the right */
        }

       .custom input {
          opacity: 0;
          width: 0;
          height: 0;
        }